<html>

<head></head>

<body class="container">
    <input type="hidden" name="_csrf" value='<%= csrfToken %>' />
    <h1 style='margin:3% 10%;'>Welcome</h1>
    <div id="app">
    </div>
</body>

</html>